body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 48px;
}

.color {
    color: rgb(12, 182, 131);
}

.flex-container {
    display: flex;
    padding: 20px;
}

.half-width {
    width: 50%;
    padding: 10px;
}

.one-third-width {
    width: 33%;
}

.member-img {
    width: 50%;
}

.middle-img {
    text-align: center;
}

#left-border {
    border-left: 5px solid orange;
    padding-left: 10px;
}

.btn {
    background-color: rgb(12, 182, 131);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    font-weight: 400px;
}

.small-font {
    font-weight: 300;
}

.icon-img {
    width: 100px
}

.mission h1 {
    text-align: center;
}

.item {
    background-color: rgba(144, 199, 199, 0.199);
    border-radius: 20px;
    margin: 10px;
    padding-left: 5PX;
}